<app-navigation></app-navigation>
<div class="row">
    <div class="col-sm-12 col-md-6 col-xl-6" *ngIf="!isAuthentication">
        <h1 class="text-center white-text">Wellcome</h1>
        <p class="white-text text-center"> You can find your favorite or new book.
            Or You can login and create your library</p>
        <h5 class="text-center white-text">If you want test user panel please teel <a
                href="https://www.facebook.com/profile.php?id=100006432486709" target="_blank">me
            
            </a>
        </h5>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-6">
        <app-login></app-login>
    </div>
</div>
<app-books [isAuthentication]="isAuthentication"></app-books>