.m-10 {
  margin: 1rem;
  margin: 10px;
}
.mt-10 {
  margin-top: 1rem;
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/alfons-morales-YLSwjSy7stw-unsplash.jpg");
  background-size: cover;
}
.home-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
