<form [formGroup]="form" (submit)="loginUser()">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="form.get('email').hasError('email')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
    <mat-label>Password</mat-label>
      <input matInput type="password" class="form-control" formControlName="password">
      <mat-error *ngIf="form.get('password').hasError('required')">Password requaired</mat-error>
      <mat-error *ngIf="form.get('password').hasError('minlength')">Error min length</mat-error>
    </mat-form-field>
    <p class="mat-error" *ngIf="error">{{errorMessage}}</p>
  </div>
  <button class="btn btn-success" type="submit" >Login</button>
  <p class="white-text">Don't have an account?
    <a routerLink="/oauth/register" class="btn-link">Register</a>
  </p>
</form>
