<div class="bg-blue h-100">
  <ng-container *ngIf="isAuth$| async">
    <div class="d-flex justify-content-end">
      <ng-container *ngIf="(user$ | async)?.profileId === role.admin || (user$ | async)?.profileId === role.root">
        <button mat-button [matMenuTriggerFor]="account">Account</button>
        <mat-menu #account="matMenu" yPosition="above">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item></button>
        </mat-menu>
      </ng-container>
      <ng-container *ngIf="(user$ | async)?.profileId === role.user || (user$ | async)?.profileId === role.root">

      </ng-container>

        <button mat-button color="white" (click)="logOut()">logout</button>
    </div>
  </ng-container>
</div>
